#bg{
	background-color: #2f3533;
    height: 662px;
    overflow: hidden;
}

blockquote{
	margin-top: 15%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.la{
	border-right: 8px solid #2f3533;
	font-family: Papyrus, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: left;		
}

p{
    color: #fea794;
}

footer{
    color: #96adbc;
}